# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Build output
dist/
dist-ssr/
*.local
*.cache

# Local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VS Code settings exceptions (ako želiš da zadržiš postavke repoa)
!.vscode/extensions.json
!.vscode/settings.json

# GitHub folder (DOZVOLITI u repou!)
!.github/
!.github/workflows/

# Screenshots and temp exports (opciono)
*.sketch
*.psd
*.tmp
